{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" href="{% static '/sample/logo-icon.png' %}">
        <title>{{ title }}</title>

        <!-- Using Bootstrap CDN (Content Delivery Network) so no need to personally download and host Bootstrap -->
        <!-- Requires internet access -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Custom styles -->
        <link href="{% static '/style/main.css' %}" rel="stylesheet">
        <link href="{% static '/style/signuplogin.css' %}" rel="stylesheet">
    </head>

    <body>

        {% include 'vapoursite/header.html' %}

        {% if user.is_authenticated or title == 'Register' or title == 'Login' %}

            {% load crispy_forms_tags %}

            {% block content %}
            <div class="container">
                <h1 class="form-signin-heading">{{ title }}</h1>
                <hr>
                <form class="form-signin" method="post" action=""> {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn" value='{{ title }}' />
                </form>
                {% if title == 'Login' %}
                    <a href="/password_reset/"><p>Forgot your password?</p></a>
                {% endif %}
            </div>
            {% endblock content %}

        {% else %}

            <div class="container">You are not logged in.</div>

        {% endif %}

        {% include 'vapoursite/footer.html' %}

    </body>
</html>
