{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" href="{% static '/sample/logo-icon.png' %}">
        <title>{{ game.title }}</title>

        <!-- Using Bootstrap CDN (Content Delivery Network) so no need to personally download and host Bootstrap -->
        <!-- Requires internet access -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Custom styles -->
        <link href="{% static '/style/main.css' %}" rel="stylesheet">
        <link href="{% static '/style/game.css' %}" rel="stylesheet">
    </head>

    <body>

        {% include 'vapoursite/header.html' %}

        {% if invalid_platform %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>Sorry! This game is not available for that platform. Please select another one.</p>
        </div>
        {% elif used_platform %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>Sorry! You have already purchased this game or added it to your cart with that platform.</p>
        </div>
        {% endif %}


        <!-- Game Description and Details
        ================================================== -->
        <div class="container game-summary">
            <div class="row vcenter">
                <div class="col-md-9">
                    <h1>{{ game.title }}</h1>
                </div>
                <div class="col-md-2">
                    <div class="buying">
                        <h2><b>$</b> {{ game.price }}</h2>
                    </div>
                </div>
                <div class="col-md-1">
                {% if not user.is_authenticated %}
                    <p>Join FCP to buy games!</p>
                {% else %}
                    <div class="user-options" style="text-align:center">
                        <button class="btn btn-lg" data-toggle="modal" data-target="#add-to-cart-modal">Add to Cart!</button>
                    </div>
                {% endif %}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <img src="/{{ game.large_image }}" height="350px">
                </div>
                <div class="col-md-9">
                    <p>{{ game.description_long }}</p><hr>
                    <div class="col-md-6">
                        <p><b>Publisher</b>: {{ game.publisher }}</p>
                        <p><b>Release Date</b>: {{ game.release_date }}</p>
                        <p><b>Genre</b>: {{ game.genre }} </p>
                        <p><b>Platform(s)</b>: 
                            {% for i in game.platforms.all %}
                            {{ i.text }}, 
                            {% endfor %}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p><b>All Tags</b>: </p>
                        <table id="tag"><tr>
                            {% for i in game.get_all_tags %}
                                {% if i %}
                                <td id="tag"><a id="tag" href="/tag/{{i}}/">{{ i }}</a></td>
                                {% endif %}
                            {% endfor %}
                        </tr></table>
                        <p><b>Your Tags</b>: </p>
                        {% if not purchased %}
                            <p>Buy the game to add tags!</p>
                        {% else %}
                            <table id="tag"><tr>
                                {% for i in member_tags %}
                                    <td id="tag"><a id="{{ i.id }}" data-toggle="modal" data-target="#del-{{ i.id }}" class="white-link">{{ i.name }}</a></td>
                                {% endfor %}
                                <td><a data-toggle="modal" data-target="#add-tag-modal"> Add Tag</a></td>
                            </tr></table>
                        {% endif %}
                    </div>
                </div><!-- / all game info -->
            </div><!-- / game info plus picture -->
        </div> <!-- / container -->

        <hr>


        {% include 'vapoursite/footer.html' %}

        <!-- Modal to add game to cart-->
        <div class="modal fade" id="add-to-cart-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add to Cart</h4>
                    </div>
                    <form method="post" action="{% url 'game' game.id %}">{% csrf_token %}
                        <div class="modal-body">
                            {{ cartform }}
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Add to Cart" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal to add new tag-->
        <div class="modal fade" id="add-tag-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New Tag</h4>
                    </div>
                    <form method="post" action="{% url 'game' game.id %}">{% csrf_token %}
                        <div class="modal-body">
                            {{ newtagform }}
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Add New Tag" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal(s) to delete tag(s)-->
        {% for i in member_tags %}
        <div class="modal fade" id="del-{{ i.id }}"  role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Delete Tag</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the tag <i>{{ i.tag.name }}</i>?
                    </div>
                    <div class="modal-footer">
                        <div class="user-options">
                            <form method="post" action="/game/delete-tag/{{ game.id }}/{{ i.id }}/">{% csrf_token %}
                                <button class="btn" type="submit">Yes</button><button class="btn" type="button" data-dismiss="modal">No</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </body>
</html>
