{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" href="{% static '/sample/logo-icon.png' %}">
        <title>Main</title>

        <!-- Using Bootstrap CDN (Content Delivery Network) so no need to personally download and host Bootstrap -->
        <!-- Requires internet access -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Custom styles -->
        <link href="{% static '/style/main.css' %}" rel="stylesheet">
    </head>

    <body>

        {% include 'vapoursite/header.html' %}

        <!-- Navigation
        ================================================== -->
        <!-- The justified navigation menu is meant for single line per list item.
                 Multiple lines will require custom code not provided by Bootstrap. -->
        <div class="masthead">
            <nav>
                <ul class="nav nav-justified">
                    <li><a href="#">Featured</a></li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Adventure</a></li>
                    <li><a href="#">Racing</a></li>
                    <li><a href="#">RPG</a></li>
                    <li><a href="#">Simulation</a></li>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Strategy</a></li>
                </ul>
            </nav>
        </div><!-- /Quick navbar genre -->


        <!-- Rewards Alert
        ================================================== -->
        {% if user.is_authenticated %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <table>
                <tr>
                <td id="reward"><a class="alert-link" href="#"><b><font size="5">REWARDS</font></b></a></td>
                <td id="reward">
                    <b>Number of Rewards:</b> {{ user.get_reward_count }}<br>
                    {% if user.get_next_reward_expiry %}
                    <b>Expiration of Next Reward:</b> {{ user.get_next_reward_expiry }}<br>
                    {% endif %}
                    <b>Spending needed for next Reward:</b>$ {{ user.get_needed_spending }}
                </td>
                </tr>
                {% if user.get_reward_count > 0 %}
                    <tr>
                        <td id="reward"><b>ID</b></td>
                        <td id="reward"><b>Awarded</b></td>
                        <td id="reward"><b>Expiry</b></td>
                    </tr>
                    {% for rew in user_rewards %}
                    <tr>
                        <td id="reward">{{ rew.id }}</td>
                        <td id="reward">{{ rew.award_date }}</td>
                        <td id="reward">{{ rew.expiry_date }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
        {% endif %}<!-- /Rewards -->


        <!-- Carousel: Will Show Featured Games
        ================================================== -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="/game/">
                        <img class="first-slide" src="{% static '/sample/banner1.jpg' %}" alt="Game Title 1">
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <img class="second-slide" src="{% static '/sample/banner2.jpg' %}" alt="Game Title 2">
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <img class="third-slide" src="{% static '/sample/banner3.jpg' %}" alt="Game Title 3">
                    </a>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div><!-- /Carousel -->


        <!-- Featured and Recommended Games: Quick Entries
        ================================================== -->
        <div class="container">
            <div class="row">
                <!-- Featured Games -->
                <div class="col-md-5">
                    <h1>Featured:</h1>
                    <hr>
                    {% if not featured %}
                        <h3>None</h3>
                    {% else %}
                    {% for entry in featured %}
                        <div class="row vcenter">
                            <div class="col-md-4">
                                <a href="/game/{{ entry.id }}">
                                    <img src="{{ entry.small_image }}" width="100%">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-9">
                                        <a href="/game/{{ entry.id }}"><h3>{{ entry.title }}</h3></a>
                                    </div>
                                    <div class="col-md-3" id="price">
                                        <p><font size="3">${{ entry.price }}</font></p>
                                    </div>
                                </div>
                                <p>{{ entry.description_short }}</p>
                                <p><b>Platform</b>:
                                    {% for i in entry.platforms.all %}
                                    {{ i.text }}, 
                                    {% endfor %}
                                </p>
                                <p><b>Genre</b>: {{ entry.genre }}</p>
                            </div>
                        </div><hr>
                    {% endfor %}
                    {% endif %}
                </div><!-- /Featured Games -->

                <div class="col-md-1"></div>

                <!-- Recommended Games -->
                <div class="col-md-5">
                    <h1>Recommended for you:</h1>
                    <hr>
                    {% if not user.get_recommended_games %}
                        <h3>None</h3>
                    {% else %}
                    {% for entry in user.get_recommended_games %}
                        <div class="row vcenter">
                            <div class="col-md-4">
                                <a href="/game/{{ entry.id }}">
                                    <img src="{{ entry.small_image }}" width="100%">
                                </a>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-9">
                                        <a href="/game/{{ entry.id }}"><h3>{{ entry.title }}</h3></a>
                                    </div>
                                    <div class="col-md-3" id="price">
                                        <p><font size="3">${{ entry.price }}</font></p>
                                    </div>
                                </div>
                                <p>{{ entry.description_short }}</p>
                                <p><b>Platform</b>:
                                    {% for i in entry.platform.all %}
                                    {{ i.text }}, 
                                    {% endfor %}
                                </p>
                                <p><b>Genre</b>: {{ entry.genre }}</p>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    {% endif %}
                </div><!-- /Recommended Games -->
            </div>
        </div> <!-- /Featured and Recommended -->

        {% include 'vapoursite/footer.html' %}

    </body>
</html>
